<h1>Amc Buddy</h1>
<UL>
<li><a href="/ai_events">View Ai Events</a></li>
<li>Last Event: {{lastEvent}}</li>
<li><a href="/fetch_new_emails">Fetch New Emails</a></li>
<li><a href="/emails_mark_all_unseen">Mark all Email Unseen</a></li>
<li><a href="/fetch_all_emails">Fetch All Emails</a></li>
</UL>